@define-color bg #0d1218;
@define-color fg #fafafa;
@define-color gray1 #1cd81c;
@define-color gray2 #4a6382;
@define-color gray3 #1c71d8;
@define-color gray4 #d8d81c;
@define-color gray5 #d81cd8;
@define-color fg_bright #fafafa;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}